.faq {
  padding-top: 104px;
  padding-bottom: 15px;
  text-align: center;

  @media (max-width: $tablet-width) {
    padding-top: 55px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 45px;
  }
}

.faq__inner {
  padding: 0 125px;

  @media (max-width: $tablet-width) {
    padding-right: $tablet-padding;
    padding-left: $tablet-padding;
  }

  @media (max-width: $mobile-width) {
    padding-right: $mobile-padding;
    padding-left: $mobile-padding;
  }
}

.faq__inner h2 {
  margin: 0;
  margin-bottom: 16px;
  font-family: $second-font;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  color: $color-black;
  letter-spacing: 0.03em;

  @media (max-width: $tablet-width) {
    margin-bottom: 15px;
  }
}

.faq__item {
  padding: 0 42px 36px 42px;

  @media (max-width: $mobile-width) {
    padding: 0 18px 12px 18px;
  }
}

.faq__accordeon {
  padding-top: 33px;

  @media (max-width: $mobile-width) {
    padding-top: 13px;
  }
}

.faq__question {
  padding-top: 43px;
  padding-bottom: 8px;

  @media (max-width: $tablet-width) {
    padding-left: 6px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 17px;
  }
}

.faq__question p {
  margin: 0;
}

.faq__answer p {
  margin: 0;
  margin-bottom: 5px;
  max-width: 58%;

  @media (max-width: $tablet-width) {
    max-width: 92%;
  }

  @media (max-width: $mobile-width) {
    max-width: 84%;
  }
}
