.footer {
  margin-top: 75px;
  padding-top: 95px;
  padding-bottom: 80px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $color-white;
  background-color: $color-darker;

  @media (max-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 35px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 65px;
  }
}

.footer--mt0 {
  margin-top: 0;
}

.footer__inner {
  display: flex;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.footer__subscribe {
  margin-right: auto;
  padding-right: 25px;
  width: 525px;
  min-width: 290px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 45px;
    padding-right: 0;
    width: 82.6%;
  }
}

.footer__subscribe h2 {
  margin-top: -6px;
  margin-bottom: 10px;
  font-family: $second-font;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;

  @media (max-width: $mobile-width) {
    margin-bottom: 14px;
  }
}

.footer__subscribe p {
  margin: 0;
  margin-bottom: 33px;
  color: $color-grey;
}

.footer__subscribe-form form {
  width: 100%;
  display: flex;
  border-bottom: 1px solid $color-white;
}

.footer__subscribe-form input {
  padding: 10px 0 9px;
  min-width: 170px;
  flex-grow: 1;
  font-family: $main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $color-white;
  background-color: transparent;
  border: none;
  border-radius: 0;

  &:focus {
    outline: none;
  }
}

.footer__subscribe-form input::placeholder {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: $color-grey;
}

.footer__subscribe-btn {
  padding: 0;
  padding-left: 15px;
  flex-shrink: 0;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border: none;
  background-color: transparent;
  color: $color-white;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.footer__subscribe-btn:focus svg {
  transform: rotate(180deg) scale(1.2);
  transition: transform 0.3s ease-out;
}

.footer__subscribe-btn svg {
  margin-left: 8px;
  transform: rotate(180deg);
  transition: transform 0.3s ease-out;
}

.footer__links {
  width: 50%;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    width: 84.6%;
  }

  @media (max-width: $mobile-width) {
  }
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__list li {
  margin-bottom: 21px;
}

.footer__list a {
  display: flex;
  display: inline-block;
  position: relative;
  align-items: center;
  color: inherit;

  &::after {
    content: "";
    width: 0;
    height: 1px;
    display: block;
    position: absolute;
    bottom: -1;
    left: 0;
    background-color: $color-white;
    transition: width 0.3s ease-out;
  }

  &:focus,
  &:hover {
    outline: none;
  }
}

.footer__list a:focus::after,
.footer__list a:hover::after {
  width: 100%;
  transition: width 0.3s ease-out;
}


.footer__condition {
  padding-right: 12%;
  padding-left: 8px;

  @media (max-width: 1116.8px) {
    margin-right: auto;
    padding-right: 5%;
  }

  @media (max-width: $tablet-width) {
    padding-right: 15%;
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
    padding-right: 10%;
  }
}

.footer__about {
  margin-right: auto;
  padding-right: 12%;

  @media (max-width: 1116.8px) {
    padding-right: 5%;
  }

  @media (max-width: $tablet-width) {
    padding-right: 15%;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 24px;
    padding-right: 10%;
  }
}

.footer__social {
  @media (max-width: $mobile-width) {
    margin-left: -5px;
    width: 100%;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
  }
}

.footer__social li {
  @media (max-width: $mobile-width) {
    margin-right: 28px;
  }
}

.footer__social a {
  @media (max-width: $mobile-width) {
    justify-content: flex-start;
  }
}

.footer__social span {
  @media (max-width: $mobile-width) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.footer__social svg {
  width: 15px;
  height: 15px;
  margin-right: 15px;

  @media (max-width: $mobile-width) {
    width: 20px;
    height: 21px;
    margin-right: 0;
  }
}
