.header {
  padding-top: 30px;
  padding-bottom: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-auto-rows: auto;
  grid-template-areas:
    "search logo user"
    "nav    nav  nav";

  @media (max-width: $tablet-width) {
    padding-bottom: 30px;
    grid-template-areas:
      "burger logo cart";
  }
}

.header a {
  color: $color-black;
}

.header__burger {
  display: none;

  @media (max-width: $tablet-width) {
    padding-left: 15px;
    grid-area: burger;
    display: flex;
    align-items: center;
  }
}

.header__logo {
  min-width: 66px;
  grid-area: logo;
  justify-self: center;
}

.header__logo img {
  display: block;
}

.header__search {
  padding-top: 11px;
  grid-area: search;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__user {
  margin: 0;
  padding: 0;
  padding-top: 11px;
  grid-area: user;
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  list-style: none;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__user-item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}

.header__cart-counter {
  padding-left: 3px;
}

.header__navigation {
  margin-top: 18px;
  padding-top: 19px;
  position: relative;
  grid-area: nav;

  &::before,
  &::after {
    content: '';
    width: 9999px;
    height: 1px;
    display: block;
    position: absolute;
    top: 0;
    background-color: $color-decore-line;
  }

  &::before {
    right: 0;
  }

  &::after {
    left: 0;
  }

  @media (max-width: $tablet-width) {
    // display: none;

    &::before,
    &::after {
      display: none;
    }
  }
}

.header__cart-mobile {
  display: none;

  @media (max-width: $tablet-width) {
    padding-right: 15px;
    grid-area: cart;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }

  @media (max-width: $mobile-width) {
  }
}

.header__cart-mobile a {
  margin-left: 15px;
  padding: 5px;
  display: flex;
}

.header__menu {
  @media (max-width: $tablet-width) {
    display: block;
    position: fixed;
    height: 100vh;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: right;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0s;
    z-index: 10;
    background-color: $color-white;
  }
}

.header__menu-open {
  @media (max-width: $tablet-width) {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: all 0.3s ease-out;
  }
}

// .nojs .header {
//   @media (max-width: $tablet-width) {
//     position: relative;
//   }
// }

.nojs .header__menu {
  @media (max-width: $tablet-width) {
    display: block;
    height: auto;
    position: relative;
    top: auto;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    overflow-y: hidden;
  }
}
