.intro {
  padding: 0 15px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $color-accent;
}

.intro--main {
  min-height: 463px;
  background-image: url("../img/intro-main-desktop.jpg");

  @supports (background: url("../img/intro-main-desktop.webp")) {
    background-image: url("../img/intro-main-desktop.webp");
  }

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/intro-main-desktop@2x.jpg");

    @supports (background: url("../img/intro-main-desktop@2x.webp")) {
      background-image: url("../img/intro-main-desktop@2x.webp");
    }
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/intro-main-tablet.jpg");

    @supports (background: url("../img/intro-main-tablet.webp")) {
      background-image: url("../img/intro-main-tablet.webp");
    }

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/intro-main-tablet@2x.jpg");

      @supports (background: url("../img/intro-main-tablet@2x.webp")) {
        background-image: url("../img/intro-main-tablet@2x.webp");
      }
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/intro-main-mobile.jpg");

    @supports (background: url("../img/intro-main-mobile.webp")) {
      background-image: url("../img/intro-main-mobile.webp");
    }

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/intro-main-mobile@2x.jpg");

      @supports (background: url("../img/intro-main-mobile@2x.webp")) {
        background-image: url("../img/intro-main-mobile@2x.webp");
      }
    }
  }
}

.intro--catalog {
  min-height: 261px;
  background-image: url("../img/intro-catalog-desktop.jpg");

  @supports (background: url("../img/intro-catalog-desktop.webp")) {
    background-image: url("../img/intro-catalog-desktop.webp");
  }

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/intro-catalog-desktop@2x.jpg");

    @supports (background: url("../img/intro-catalog-desktop@2x.webp")) {
      background-image: url("../img/intro-catalog-desktop@2x.webp");
    }
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/intro-catalog-tablet.jpg");

    @supports (background: url("../img/intro-catalog-tablet.webp")) {
      background-image: url("../img/intro-catalog-tablet.webp");
    }

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/intro-catalog-tablet@2x.jpg");

      @supports (background: url("../img/intro-catalog-tablet@2x.webp")) {
        background-image: url("../img/intro-catalog-tablet@2x.webp");
      }
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/intro-catalog-mobile.jpg");

    @supports (background: url("../img/intro-catalog-mobile.webp")) {
      background-image: url("../img/intro-catalog-mobile.webp");
    }

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/intro-catalog-mobile@2x.jpg");

      @supports (background: url("../img/intro-catalog-mobile@2x.webp")) {
        background-image: url("../img/intro-catalog-mobile@2x.webp");
      }
    }
  }
}

.intro p {
  margin: 0;
  font-family: $second-font;
  font-weight: bold;
  font-size: 45px;
  line-height: 52px;
  letter-spacing: 0.03em;
  color: $color-white;

  @media (max-width: $mobile-width) {
    font-size: 38px;
    line-height: 44px;
  }
}

.intro--catalog p {
  font-size: 34px;
  line-height: 44px;
  letter-spacing: normal;

  @media (max-width: $mobile-width) {
  }
}

.intro span {
  display: block;
  font-style: italic;
  font-weight: normal;
  font-size: 38px;
  line-height: 42px;
  letter-spacing: normal;

  @media (max-width: $mobile-width) {
    font-size: 34px;
    line-height: 38px;
  }
}

.intro--catalog span {
  font-size: 22px;
  line-height: 29px;

  @media (max-width: $mobile-width) {
  }
}
