.pagination {
  padding-top: 37px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 1px;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 9999px;
    height: 1px;
    position: absolute;
    top: 0;
    background-color: $color-decore-line;
  }

  &::before {
    right: 0;
  }

  &::after {
    left: 0;
  }

  @media (max-width: $mobile-width) {
    padding-top: 17px;
    padding-right: 0;
    padding-left: 0;
  }
}

.pagination__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.pagination__item {
  margin: 0 7px;

  @media (max-width: $mobile-width) {
    margin-right: 11px;
    margin-left: 11px;
  }
}

.pagination__item a {
  color: $color-black;
}

.pagination__item a[href] {
  color: $color-grey;

  &:focus,
  &:hover {
    outline: none;
    color: $color-black;
    transition:
      color 0.3s ease-out
  }
}

.pagination__prev,
.pagination__next {
  position: absolute;
  color: $color-black;

  &::after {
    content: "";
    width: 0;
    height: 1px;
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: $color-accent;
    transition: width 0.3s ease-out;
  }

  &:focus,
  &:hover {
    outline: none;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.pagination__prev:focus::after,
.pagination__prev:hover::after,
.pagination__next:focus::after,
.pagination__next:hover::after {
  width: 100%;
  transition: width 0.3s ease-out;
}

.pagination__prev {
  left: 0;
}

.pagination__next {
  right: 0;
}
