.products-slider {
  padding-top: 120px;
  padding-bottom: 15px;
  text-align: center;

  @media (max-width: $tablet-width) {
    padding-top: 70px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 60px;
  }
}

.products-slider__inner {
  position: relative;
}

.products-slider__inner h2 {
  margin: 0;
  margin-bottom: 20px;
  font-family: $second-font;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  color: $color-black;

  @media (max-width: $tablet-width) {
    margin-bottom: 15px;
  }
}

.products-slider__link-all {
  margin-bottom: 15px;
  display: inline-block;
  font-size: 16px;
  line-height: 29px;
  color: $color-black;
  border-bottom: 1px solid $color-accent;
}

.products-slider__wrapper {
  padding-top: 40px;
  padding-bottom: 15px;

  @media (max-width: $tablet-width) {
    padding-top: 34px;
    padding-bottom: 6px; // TODO
  }

  @media (max-width: $mobile-width) {
    padding-top: 25px;
    padding-bottom: 1px;
  }
}

.products-slider__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.products-slider__item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc(25% - 22.5px);

  @media (max-width: $tablet-width) {
    width: calc(50% - 15px);
  }
}

.products-slider__button-prev,
.products-slider__button-next {
  margin: 0;
  padding: 0;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 32px;
  border: none;
  border-radius: 0;
  color: $color-accent;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    background-size: 16px;
    transition: background-size 0.2s ease;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.products-slider__button-prev {
  left: 21px;

  @media (max-width: $tablet-width) {
    left: $tablet-padding;
  }
}

.products-slider__button-next {
  right: 21px;
  transform: rotate(180deg);

  @media (max-width: $tablet-width) {
    right: $tablet-padding;
  }
}

.products-slider__button-prev svg,
.products-slider__button-next svg {
  width: 30px;
  height: 11px;

  @media (max-width: $tablet-width) {
    width: 36px;
    height: 15px;
  }
}

.products-slider__pagination,
.products-slider__counter {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: $color-grey;

  @media (max-width: $tablet-width) {
    font-size: 16px;
    line-height: 21px;
  }
}

.nojs .products-slider__button-prev,
.nojs .products-slider__button-next,
.nojs .products-slider__pagination,
.nojs .products-slider__counter {
  display: none;
}

.products-slider__pagination {
  display: block;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.products-slider__counter {
  display: none;
  color: $color-black;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.products-slider__counter-current,
.products-slider__counter-total {
  margin: 0 5px;
  display: inline-block;
}

.products-slider__bullet {
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    margin-right: 7px;
    margin-left: 7px;
  }
}

.products-slider__bullet:hover {
  transition: color 0.2s ease-out;
  color: $color-black;
}

.products-slider__bullet-active {
  transition: color 0.2s ease-out;
  color: $color-black;
}
